/AccountManagerAPi/bin/
/ApplicationLayer/bin/
/DataAccessLayer/bin/
.vscode/settings.json
.idea/.idea.AccountManagerProject/.idea/.name
.idea/.idea.AccountManagerProject/.idea/indexLayout.xml
.idea/.idea.AccountManagerProject/.idea/vcs.xml
AccountManagerAPi/obj/AccountManagerAPi.csproj.nuget.dgspec.json
AccountManagerAPi/obj/AccountManagerAPi.csproj.nuget.g.props
AccountManagerAPi/obj/AccountManagerAPi.csproj.nuget.g.targets
AccountManagerAPi/obj/project.assets.json
AccountManagerAPi/obj/project.nuget.cache
AccountManagerAPi/obj/project.packagespec.json
AccountManagerAPi/obj/rider.project.restore.info
AccountManagerAPi/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
AccountManagerAPi/obj/Debug/net6.0/AccountManagerAPi.AssemblyInfo.cs
AccountManagerAPi/obj/Debug/net6.0/AccountManagerAPi.AssemblyInfoInputs.cache
AccountManagerAPi/obj/Debug/net6.0/AccountManagerAPi.assets.cache
AccountManagerAPi/obj/Debug/net6.0/AccountManagerAPi.csproj.AssemblyReference.cache
AccountManagerAPi/obj/Debug/net6.0/AccountManagerAPi.GeneratedMSBuildEditorConfig.editorconfig
AccountManagerAPi/obj/Debug/net6.0/AccountManagerAPi.GlobalUsings.g.cs
ApplicationLayer/obj/ApplicationLayer.csproj.nuget.dgspec.json
ApplicationLayer/obj/ApplicationLayer.csproj.nuget.g.props
ApplicationLayer/obj/ApplicationLayer.csproj.nuget.g.targets
ApplicationLayer/obj/project.assets.json
ApplicationLayer/obj/project.nuget.cache
ApplicationLayer/obj/project.packagespec.json
ApplicationLayer/obj/rider.project.restore.info
ApplicationLayer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ApplicationLayer/obj/Debug/net6.0/ApplicationLayer.AssemblyInfo.cs
ApplicationLayer/obj/Debug/net6.0/ApplicationLayer.AssemblyInfoInputs.cache
ApplicationLayer/obj/Debug/net6.0/ApplicationLayer.assets.cache
ApplicationLayer/obj/Debug/net6.0/ApplicationLayer.csproj.AssemblyReference.cache
ApplicationLayer/obj/Debug/net6.0/ApplicationLayer.GeneratedMSBuildEditorConfig.editorconfig
ApplicationLayer/obj/Debug/net6.0/ApplicationLayer.GlobalUsings.g.cs
DataAccessLayer/obj/DataAccessLayer.csproj.nuget.dgspec.json
DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.props
DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.targets
DataAccessLayer/obj/project.assets.json
DataAccessLayer/obj/project.nuget.cache
DataAccessLayer/obj/project.packagespec.json
DataAccessLayer/obj/rider.project.restore.info
DataAccessLayer/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.AssemblyInfo.cs
DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.AssemblyInfoInputs.cache
DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.assets.cache
DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.csproj.AssemblyReference.cache
DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.GlobalUsings.g.cs
AccountManagerTests/bin/*
AccountManagerTests/obj/*
.vscode/launch.json
.vscode/tasks.json
